<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-airpush" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Airpush Plugin</name>
  <description>Airpush Plugin</description>
  <author>MATRIXREAL</author>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	
    <js-module name="AirpushPlugin" src="www/airpushsdk.js">
      <clobbers target="Appodeal"/>
    </js-module>
    <platform name="ios">
	<framework src="com.google.android.gms:play-services-ads:+" />
        <source-file src="src/android/libs/com-yrkfgo-assxqx4.jar" target-dir="libs" framework="true"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AirpushPlugin" >
				 <param  name="android-package" value="com.yrkfgo.assxqx4.AirpushPlugin" />                      
			</feature>
        </config-file>
     </platform>     
</plugin>
