<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-airpush" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Airpush Plugin</name>
  <description>Airpush Plugin</description>
  <author>MATRIXREAL</author>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	
    <js-module name="AirpushPlugin" src="airpushsdk.js">
      <clobbers target="Appodeal"/>
    </js-module>
<platform name="ios">
      <config-file parent="/widget" target="config.xml">
        <feature name="AirpushPlugin">
          <param name="ios-package" value="AirpushPlugin"/>
        </feature>
      </config-file>
      <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <true/>
              <key>NSAllowsArbitraryLoadsInWebContent</key>
              <true/>
          </dict>
      </config-file>
	<header-file src="AirpushSDK.h"/>
	<source-file src="AirpushSDK.m"/>
	<header-file src="AP_SDK.h"/>
	<header-file src="APCallBackDelegate.h"/>
	<header-file src="APMediationDelegate.h"/>

	<framework src="Foundation.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="CoreText.framework"/>
        <framework src="AvFoundation.framework"/>
        <framework src="MessageUI.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="CFNetwork.framework"/>
	<framework src="AdSupport.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="ImageIO.framework"/>
        <framework src="WebKit.framework"/>
	<framework custom="true" src="libAP_SDK-1.4.a"/>
</platform>    
</plugin>
